div.object-row div {
  padding: 3px;
  margin-bottom:  5px;
}
div.object-row div.product-sku {
  font-weight: bolder;
}

div.header-row {
  text-transform: uppercase;
  font-weight: bolder;
}

div.columns {
  border: 1px solid black;
}