.columns {
  font-size: 95%;
}

div.object-row div {
  padding: 3px;
  margin-bottom:  5px;
}
div.object-row div.product-sku {
  font-weight: bolder;
}

div.header-row {
  text-transform: uppercase;
  font-weight: bolder;
  font-size: 70%;
  word-wrap:break-word;
  padding: 10px;
  background-color: white;
}

div.row {
  max-width: none !important;
}

div.attr-row label {
  font-size: 110% !important;
}

label {
  color: #000099;
}